a{
    text-decoration: none;
    color: black;

}
a:first-child{
    border-right: 1px solid black;
    color: black;
}
header{
    width: auto;
    height: 50px;
    background-color: rgb(215, 213, 213);
    text-align: right;
}
header a{
     margin-right: 20px;
}
